@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Poppins", sans-serif;
  color: #27292d;
  background-color: #ffffff;
  -webkit-print-color-adjust: exact;
}

h2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 2rem;
}
